<div class="col-md-2 col-sm-4 col-xs-6">
    {#<!-- BEGIN Portlet module -->#}
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-video-camera"></i>
                {{ module.name }}
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="" class="fullscreen"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="webcams" data="{{ module.module_ID }}"></div>
        </div>
        {#<!-- END Portlet PORTLET-->#}
    </div>
</div>
