<div class="artisteScroller" data-always-visible="1" data-rail-visible="0">
    <ul>
        {% for artiste in artistes %}
            {% if (is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and artiste.active)
            or is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('dda_bundle_front_artiste_accueil',{'slug':artiste.slug}) }}">
                        <span>{{ artiste.prenom }} {{ artiste.nom }}</span>

                        {% set img = artiste.category %}
                        {% if img %}
                            <img src="{{ img | imagine_filter('artiste_categorie_accueil') }}"/>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
