{% extends 'FrondOfficeBundle:MetronicWebApp:body-page-content.html.twig' %}

{% block moreCss %}{% endblock moreCss %}
{% block moreJs %}{% endblock moreJs %}

{% set title_page = 'Blank Page Layout' %}

{% block content_txt %}<p>A black page template with a minimal dependency assets to use as a base for any custom page
    you create </p>{% endblock content_txt %}
