<li class="heading">
    <h3 class="uppercase">interface</h3>
</li>

<li {% if app.request.attributes.get('_route') == 'domotiquebundle_domobox' %}class="nav-item  active open"{% endif %}>
    <a href="{{ path('domotiquebundle_domobox') }}"
       class="nav-link {% if app.request.attributes.get('_route') == 'domotiquebundle_domobox_debug' %}nav-toggle{% endif %}">
        <i class="fa fa-industry"></i>
        <span class="title">Direct</span>
    </a>
</li>

<li {% if app.request.attributes.get('_route') == 'domobox_ui_graphique' %}class="nav-item  active open"{% endif %}>
    <a href="{{ path('domobox_graphique') }}"
       class="nav-link {% if app.request.attributes.get('_route') == 'domobox_ui_graphique' %}nav-toggle{% endif %}">
        <i class="fa fa-bar-chart"></i>
        <span class="title">graphique</span>
    </a>
</li>
