{% extends 'BackOfficeBundle:Metronic:body-page-content-blank.html.twig' %}

{% block moreCss %}{% endblock moreCss %}
{% block moreJs %}{% endblock moreJs %}

{% set title_page = 'Bienvenue, dans l\'administration du site Document d\'Artide Aquitaine' %}

{% block content_txt %}
    <p>bienvenue a toi !</p>
{% endblock content_txt %}
