<li class="nav-item start {% if app.request.attributes.get('_route') == 'admin_artiste_index' %}active open{% endif %}">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-archive"></i>
        <span class="title">{{ 'Dossier d\'Artiste'|trans }}</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item start {% if app.request.attributes.get('_route') == 'admin_artiste_index' %}active open{% endif %}">
            <a href="{{ path('admin_artiste_index') }}" class="nav-link ">
                <i class="icon-male"></i>
                <span class="title">{{ 'Gerrer les artistes'|trans }}</span>
            </a>
        </li>
    </ul>
</li>
