services:
    back_office.loging:
        class: AppBundle\BackBundle\Services\LoggService
        arguments: ["@service_container"]

    app.options:
        class: AppBundle\BackBundle\Services\AppOptionsService
        arguments: ["@doctrine.orm.entity_manager"]

    back_office.form.profile:
       class: AppBundle\BackBundle\Form\Type\ProfileFormType
       arguments:
            - '%fos_user.model.user.class%'
       tags:
            - { name: form.type, alias: rest_user_profile }
