{% spaceless %}
    {% for alert in alertPublisher %}

        {% if alert.type == "error" %}
            {% set type = 'danger' %}
        {% else %}
            {% set type = alert.type %}
        {% endif %}

        <div class="alert alert-{{ type }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i
                        class="fa-times-circle"></i></button>
            {{ alert.message | raw }}
        </div>
    {% endfor %}
{% endspaceless %}
