/*                    */
/*     ACCUEIL        */
/*                    */
.artisteScroller ul {
    padding: 0;
}

.artisteScroller ul li {
    list-style: none;
    background-color: #009DE0;
    margin-bottom: 10px;
    height: 76px;
}

.artisteScroller ul li a {
    text-decoration: none;
    color: white;
    font-family: 'AbelRegular', sans-serif;
    font-variant: small-caps;
    font-size: 17px;
    padding: 5px;
    clear: both;
}
.artisteScroller ul li a img{
    float: right;
}
/*                    */

.container .border {
    border-top:3px solid black;
    border-bottom:3px solid black;
}

.nav-side-menu {
}

.nav-side-menu .brand {
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    /*padding: 0px;*/
    /*margin: 0px;*/
    line-height: 15px;

    /*width: 122px;*/
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}

.nav-side-menu li {
    width: 166px;
    padding-right: 10px;
    margin-right: 10px;
}

/*permet d'aligner le logo eac*/
.nav-side-menu li img {
    margin-left: -10px;
}

.nav-side-menu li a {
    text-decoration: none;
    font-family: 'AbelRegular', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    cursor: pointer;
    /*!*text-decoration: none;*/
}

.nav-side-menu li a:hover {
    color: #009DE0;
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*-ms-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
}

.brand p {
    font-family: 'AbelRegular', sans-serif;
    font-size: 14px;
    color: black;
    line-height: normal;
    text-transform: uppercase;
}

.modal * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: red !important;
    font-size: 14px;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        color: red;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        /*background-color: #0a0a0a;*/
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }

    .brand img {
        display: none;
    }

    .brand p {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .columns {
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    .ontop {
        height: 140px;
        position: fixed;
        z-index: 1000;
        top: 0;
        background-color: #fff;
        width: 1170px;
        padding-top: 10px;
    }

    .columns {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
        /*width: 500px;*/
        /*height: 170px;*/
    }

    .jump {
        break-before: column
    }

    .espaceTop {

        padding-top: 20px;

    }

    .ontop + div {
        margin-top: 140px;
    }

}
