.container div {
    border: 1px solid red;
}

p.ab {
    font-family: 'AbelRegular', sans-serif;
    color: #0b3e6f;
}
p.ovo {
    font-family: 'OvoRegular', sans-serif;
    color: #1e818a;
}

.ontop {
    height: 180px;
    position: fixed;
    z-index: 999999;
    top: 0;
    background-color: #fff;
    width: 1170px;

}

.ontop + div {
    margin-top: 180px;
}

.ontop .logo p {
    font-family: 'AbelRegular', sans-serif;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li a {
    font-family: 'AbelRegular', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.main-menu ul li.actif a { /** ICI REGLE DOMINANTE **/
    color: #009DE0;
}
.main-menu ul li a:hover {
    color: #009DE0;
}

.main-menu ul li.eac {
    margin-left: -9px;
}

.ovoRegular{
    font-family: 'OvoRegular', sans-serif;
    font-size: 13px;
}
/* dossiers */
.row ul.artistes, .row ul.dossiers{
    padding: 0;
    margin: 0;
}

.row ul.artistes li, .row ul.dossiers li{
    margin: 5px;
    list-style: none;
    float: left;
    text-align: center;
}
/* menu dans dossiers */

.col-sm-2 h1{
    padding: 0;
    margin: 0;
    color: #009DE0;
    font-family: 'AbelRegular',sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: normal;
    font-variant: small-caps;
}
/*.col-sm-2 div.sidebar-nav .navbar-default{*/
    /*background-color: white;*/
    /*border: none;*/
/*}*/

/*.col-sm-2 div.sidebar-nav ul li a{*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*padding-left: 0;*/
    /*!*margin: 0 2px 3px 4px;*!*/
    /*font-variant: small-caps;*/
    /*color: black;*/
    /*font-family: 'AbelRegular',sans-serif;*/
    /*font-size: 13px;*/
    /*min-width: 100px;*/
/*}*/

a{text-decoration: none; color: black;}
a:hover{text-decoration: none; color: #009DE0;}
