{#<!-- BEGIN QUICK SIDEBAR TOGGLER -->#}
{% if global.quickSlidebar == true %}
<li class="dropdown dropdown-quick-sidebar-toggler">
    <a href="javascript:;" class="dropdown-toggle">
        <i class="icon-logout"></i>
    </a>
</li>
{% endif %}
{#<!-- END QUICK SIDEBAR TOGGLER -->#}
