{% trans_default_domain 'AppBundleMessage' %}
{% extends 'BackOfficeBundle:Metronic:body.html.twig' %}
{% block bodyPage %}
    {% block moreJsBefore %}{% endblock moreJsBefore %}
    {#<!-- BEGIN CONTAINER -->#}
    <div class="page-container">
        {#<!-- BEGIN SIDEBAR -->#}
        <div class="page-sidebar-wrapper">
            {#<!-- BEGIN SIDEBAR -->#}
            <div class="page-sidebar navbar-collapse collapse">
                {#<!-- BEGIN SIDEBAR MENU -->#}
                {% include 'BackOfficeBundle:Metronic:body-page-menu.html.twig' %}
                {#<!-- END SIDEBAR MENU -->#}
            </div>
            {#<!-- END SIDEBAR -->#}
        </div>
        {#<!-- END SIDEBAR -->#}
        {#<!-- BEGIN CONTENT -->#}
        <div class="page-content-wrapper">
            {#<!-- BEGIN CONTENT BODY -->#}
            <div class="page-content">
                {#<!-- BEGIN PAGE HEADER-->#}
                {#<!-- BEGIN THEME PANEL -->#}
                {#{% include 'BackOfficeBundle:Metronic:body-page-customise.html.twig' %}#}
                {#<!-- BEGIN PAGE BAR -->#}
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="{{ path('back_office_homepage') }}">{{ 'Home'|trans }}</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        {% if path_entity_index is defined %}
                        <li>
                            <a href="{{ path( (path_entity_index) )  }}">module</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        {% endif %}
                        <li>
                            <span>{{ title_page }}</span>
                        </li>
                    </ul>
                    {#{% include 'BackOfficeBundle:Metronic:body-page-toolbar.html.twig' %}#}
                </div>
                {#<!-- END PAGE BAR -->#}
                {#<!-- BEGIN PAGE TITLE-->#}

                {% block pageContent %}{% endblock pageContent %}
            </div>
            {#<!-- END CONTENT BODY -->#}
        </div>
        {#<!-- END CONTENT -->#}
        {#<!-- BEGIN QUICK SIDEBAR -->#}
        {% if global.quickSlidebar == true %}
        {% include 'BackOfficeBundle:Metronic:body-page-quick-slide.html.twig' %}
        {% endif %}
        {#<!-- END QUICK SIDEBAR -->#}
    </div>
    {#<!-- END CONTAINER -->#}
{% endblock bodyPage %}
