{% extends 'BackOfficeBundle:Metronic:body-page.html.twig' %}
{% set texte = title_page|split(',') %}
{% block pageContent %}
    {#<!-- BEGIN PAGE TITLE-->#}
    <h3 class="page-title"> {{ texte[0] }}
        <small>{{ texte[1] }}</small>
    </h3>
    {#<!-- END PAGE TITLE-->#}
    {#<!-- END PAGE HEADER-->#}
    <div class="note note-info">
        {% block content_txt %}{% endblock content_txt %}
    </div>
{% endblock pageContent %}
