{% trans_default_domain 'AppBundleMessage' %}
{#<!-- BEGIN SIDEBAR MENU -->#}
<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
    data-slide-speed="200" style="padding-top: 20px">
    <li class="sidebar-toggler-wrapper hide">
        {#<!-- BEGIN SIDEBAR TOGGLER BUTTON -->#}
        <div class="sidebar-toggler"></div>
        {#<!-- END SIDEBAR TOGGLER BUTTON -->#}
    </li>

    {#{% include 'BackOfficeBundle:Metronic:body-page-menu-search.html.twig' %}#}
    {% include 'BackOfficeBundle:Default:menu.html.twig' %}
    {% include ':default:appBackMenu.html.twig' ignore missing %}

    {% set app_menu = ["app_options_index", "app_options_edit", "app_bundle_to_do_homepage"] %}
    {% set current_route = app.request.attributes.get('_route') %}

    <li class="nav-item start {% if current_route in app_menu %}active open{% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-docs"></i>
            <span class="title">{{ 'Application'|trans }}</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            {% include '@BackOffice/options/menu.html.twig' %}
            {% include '@AppBundleToDo/Default/menu.html.twig' %}
        </ul>
    </li>

</ul>
{#<!-- END SIDEBAR MENU -->#}
