<div class="page-content-fixed-header">
    {#<!-- BEGIN BREADCRUMBS -->#}
    <ul class="page-breadcrumb">
        <li>
            <a href="{{ path('frond_office_homepage') }}">{{ 'Home'|trans }}</a>
        </li>
        <li>{{ title_page }}</li>
    </ul>
    {#<!-- END BREADCRUMBS -->#}
    <div class="content-header-menu">
        {#<!-- BEGIN DROPDOWN AJAX MENU -->#}
        {% if global.quickSlidebar == true %}
        <div class="dropdown-ajax-menu btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
            </button>
            <ul class="dropdown-menu-v2">
                <li>
                    <a href="start.html">Application</a>
                </li>
                <li>
                    <a href="start.html">Reports</a>
                </li>
                <li>
                    <a href="start.html">Templates</a>
                </li>
                <li>
                    <a href="start.html">Settings</a>
                </li>
            </ul>
        </div>
        {% endif %}
        {#<!-- END DROPDOWN AJAX MENU -->#}
        <!-- BEGIN MENU TOGGLER -->
        <button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse"
                data-target=".navbar-collapse">
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
        </button>
        {#<!-- END MENU TOGGLER -->#}
    </div>
</div>
