<header class="page-header">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="havbar-header">
                <!-- BEGIN LOGO -->
                <a id="index" class="navbar-brand" href="{{ path('front_office_homepage') }}">
                    {% include ':default:appBackLogo.html.twig' %}
                </a>
                <!-- END LOGO -->
                {% include 'FrondOfficeBundle:MetronicWebApp:body-header-topbar-actions.html.twig' %}
            </div>
        </div>
        <!--/container-->
    </nav>
</header>
