{#<!-- BEGIN FOOTER -->#}
<p class="copyright-v2">{{ appOptions.optionName('app.projet.front.copyright').value|raw }}

</p>
{#<!-- BEGIN QUICK SIDEBAR TOGGLER -->#}
{#<button type="button" class="quick-sidebar-toggler" data-toggle="collapse">#}
    {#<span class="sr-only">Toggle Quick Sidebar</span>#}
    {#<i class="icon-logout"></i>#}
    {#<div class="quick-sidebar-notification">#}
        {#<span class="badge badge-danger">7</span>#}
    {#</div>#}
{#</button>#}
{#<!-- END QUICK SIDEBAR TOGGLER -->#}
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>
{#<!-- END FOOTER -->#}
